
.right-side {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 520px;
}

.full-height-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.top-image{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 16px;
}
.process-top-image , .process-bottom-image {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 16px;
}

.bottom-text {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 16px;
    text-align: center;
}
.faq-bottom-text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 16px;
    text-align: center;
}
.left-side {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 520px;
}
/* Responsive Design */
@media (max-width: 992px) {
    .faq-bottom-text {
        height: 20%;
        padding: 21px;
        font-size: 18px;
    }
    .faq-bottom-text h3 {
        font-size: 18px !important;
    }
    .left-side{
        display: contents;
    }
}


.faq-bottom-text h3 {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    position: relative;

.right-side {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 520px;
}

.full-height-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.top-image{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 16px;
}
.process-top-image , .process-bottom-image {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 16px;
}

.bottom-text {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 16px;
    text-align: center;
}
.faq-bottom-text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    border-radius: 16px;
    text-align: center;
}
.left-side {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 520px;
}
/* Responsive Design */
@media (max-width: 992px) {
    .faq-bottom-text {
        height: 20%;
        padding: 21px;
        font-size: 18px;
    }
    .faq-bottom-text h3 {
        font-size: 18px !important;
    }
    .left-side{
        display: contents;
    }
}


.faq-bottom-text h3 {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    position: relative;
    z-index: 2;
}

.faq-bottom-text p {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.bottom-text h3 {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
}

.bottom-text p {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}

.right-side-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: #e3f2fd; */
    padding: 30px;
    border: 1px solid #000000;
    border-radius: 16px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    transition: all 0.3sease;
    height: 100%;
}

.right-side-content h6,
.right-side-content h3 {
    margin: 20px 0;
}
.right-side-content h6{
    color: #8261ee;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.right-side-content h3{
    font-size: 24px;
        font-weight: bold;
        color: #333;
    margin-bottom: 20px;
}
.feature-list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    margin-left: 16px;
}

.feature-list li {
    font-size: 16px;
    color: #7f8c8d;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.feature-list li i {
    color: #2ecc71;
    margin-right: 10px;
}